:root {
    --gris: #343a3f;
    --oscuro: #161718;
    --azul: #124a93;
    --verde: #0a602e;
    --claro: #fefeff;
    --rojo: #88210e;
    --negro: #000000;
}

body {
    overflow: hidden;
    background: var(--negro);
}

.canvas-container {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.canvas{
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.edit-header{
    display: flex;
    color: var(--claro);
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.edit-header h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 2.5s steps(40, end);
}
  
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 18%
    }
}

.editable {
    background-color: var(--gris);
    opacity: 85%;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.editable > textarea {
    background-color: var(--gris);
    color: var(--claro);
    border: none;
    resize: none; 
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    height: 100%;
}

.btts {
    display: flex;
}

.button {
    opacity: 80%;
    cursor: pointer;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 33%;
    margin: 5px;
    border-radius: 20px;
    border-width: 5px;
}

.bgc-blue {
    color: var(--azul);
    border-color: var(--azul);
}

.bgc-green {
    color: var(--verde);
    border-color: var(--verde);
}

.bgc-red {
    color: var(--rojo);
    border-color: var(--rojo);
}

.bgc-grey {
    border-color: var(--gris);
    cursor: not-allowed;
}

.copy{
    width: 40px;
    height: 40px;
    margin: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("./img/copy.png");
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}